URxvt.intensityStyles:	false
URxvt.background:       #000f1f
URxvt.foreground:	#e2e2e2
URxvt.depth:		32
URxvt.font:		xft:DejaVu Sans Mono:size=9
URxvt.scrollBar:	false
URxvt.cursorColor:	white
URxvt.blurRadius:	6x6
!URxvt*inheritPixmap:	true
URxvt*transparent:	true
! URxvt*shading:	0 to 99 darkens, 101 to 200 lightens
URxvt*shading:		40
URxvt.perl-ext-common:  default

.color-enabled:	true
!			bg	 fg       bgalt    hlbg     hlfg
rofi.color-window:	#000000, #002f5f, #002f5f
rofi.color-normal:	#111   , #819396, #222,    #002f5f, #ffffff
rofi.color-active:	#002b37, #008ed4, #003643, #002f5f, #66c6ff
rofi.color-urgent:	#002b37, #da4281, #003643, #002f5f, #890661

!rofi.fake-transparency:	true
!rofi.fake-background:		background
rofi.lines:			5
rofi.bw:			2
rofi.hide-scrollbar:		true
rofi.width:			40
!rofi.columns:			2
rofi.location:                  0
rofi.terminal:			urxvt

XTerm.vt100.selectToClipboard:	true
*foreground: rgb:e2/e2/e2
*background: rgb:00/0f/1f
