[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=pnmixer
Exec=/usr/bin/pnmixer
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;Multimedia

